## Populate a Postgres database

In [ ]:
pip install pandas

In [20]:
import pandas as pd

In [21]:
pd.__version__

'1.5.3'

In [3]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [4]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2021-01-01 00:12:41,2021-01-01 00:26:47,1,4.13,1,N,161,226,1,14.5,0.5,0.5,3.66,0.0,0.3,21.96,2.5
96,2,2021-01-01 00:23:29,2021-01-01 00:35:03,2,4.12,1,N,162,74,2,13.5,0.5,0.5,0.00,0.0,0.3,17.30,2.5
97,2,2021-01-01 00:46:17,2021-01-01 00:54:25,2,2.22,1,N,144,170,1,9.0,0.5,0.5,2.56,0.0,0.3,15.36,2.5
98,2,2021-01-01 00:28:16,2021-01-01 00:51:44,1,7.11,1,N,264,264,2,23.5,0.5,0.5,0.00,0.0,0.3,24.80,0.0
99,2,2021-01-01 00:42:35,2021-01-01 00:54:41,3,1.61,1,N,229,237,2,9.5,0.5,0.5,0.00,0.0,0.3,13.30,2.5

In [5]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data"))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [6]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [7]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data"))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

### Create connection and generate schema for Postgres

We need to create a connection to postgres and it will generate the statement of the schema that is specific for Postgres.

In [ ]:
pip install sqlalchemy

In [ ]:
pip install psycopg2-binary

In [2]:
from sqlalchemy import create_engine

### Detailed info for Database Connection string 

root:root credentials for Server  --- 
localhost:5432 localhost info (my laptop) ---
ny_taxi : name of the Postgres database

In [24]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [25]:
engine.connect()

In [11]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

#### Now we have the definition in Postgres

The one statement that we just printed above is the statement that pandas will execute when it will try to create this table in Postgres.

#### We need Iterators because the dataset is TOO big

So we use an iterator and we split the dataset in chucks of 100K. In each iteration, we put each chunk to the database and after all iterations the entire dataset will be in the database.

In [12]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=10000)

In [13]:
df = next(df_iter)

In [14]:
len(df)

10000

In [15]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [16]:
df.head(n=3)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.1,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.2,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.7,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0

### Create the table

In [17]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

### Insert the data in batches

In [18]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 503 ms, sys: 19.1 ms, total: 522 ms
Wall time: 1.83 s

1000

### Iterate all datasets

In [19]:
from time import time

In [20]:
while True:
    t_start = time()
    
    # Get next batch
    df = next(df_iter)
    
    # Do transformations in each batch
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    # Insert data to the database
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    
    t_end = time()
    
    print('Inserted another chunk..., took %.3f seconds' % (t_end - t_start))

Inserted another chunk..., took 1.697 seconds
Inserted another chunk..., took 1.762 seconds
Inserted another chunk..., took 4.563 seconds
Inserted another chunk..., took 1.707 seconds
Inserted another chunk..., took 1.708 seconds
Inserted another chunk..., took 1.698 seconds
Inserted another chunk..., took 1.734 seconds
Inserted another chunk..., took 1.701 seconds
Inserted another chunk..., took 4.408 seconds
Inserted another chunk..., took 1.716 seconds
Inserted another chunk..., took 1.715 seconds
Inserted another chunk..., took 1.730 seconds
Inserted another chunk..., took 1.680 seconds
Inserted another chunk..., took 1.724 seconds
Inserted another chunk..., took 1.744 seconds
Inserted another chunk..., took 3.600 seconds
Inserted another chunk..., took 1.662 seconds
Inserted another chunk..., took 1.767 seconds
Inserted another chunk..., took 1.657 seconds
Inserted another chunk..., took 1.599 seconds
Inserted another chunk..., took 1.662 seconds
Inserted another chunk..., took 3.544 seconds
Inserted another chunk..., took 1.676 seconds
Inserted another chunk..., took 1.735 seconds
Inserted another chunk..., took 1.734 seconds
Inserted another chunk..., took 1.662 seconds
Inserted another chunk..., took 1.679 seconds
Inserted another chunk..., took 3.713 seconds
Inserted another chunk..., took 1.684 seconds
Inserted another chunk..., took 1.735 seconds
Inserted another chunk..., took 1.673 seconds
Inserted another chunk..., took 1.655 seconds
Inserted another chunk..., took 1.691 seconds
Inserted another chunk..., took 3.805 seconds
Inserted another chunk..., took 1.684 seconds
Inserted another chunk..., took 1.726 seconds
Inserted another chunk..., took 1.640 seconds
Inserted another chunk..., took 1.685 seconds
Inserted another chunk..., took 1.695 seconds
Inserted another chunk..., took 3.855 seconds
Inserted another chunk..., took 1.645 seconds
Inserted another chunk..., took 1.575 seconds
Inserted another chunk..., took 1.638 seconds
Inserted another chunk..., took 1.591 seconds
Inserted another chunk..., took 1.601 seconds
Inserted another chunk..., took 3.824 seconds
Inserted another chunk..., took 1.554 seconds
Inserted another chunk..., took 1.587 seconds
Inserted another chunk..., took 1.707 seconds
Inserted another chunk..., took 1.545 seconds
Inserted another chunk..., took 1.591 seconds
Inserted another chunk..., took 3.893 seconds
Inserted another chunk..., took 1.560 seconds
Inserted another chunk..., took 1.619 seconds
Inserted another chunk..., took 1.680 seconds
Inserted another chunk..., took 1.612 seconds
Inserted another chunk..., took 1.627 seconds
Inserted another chunk..., took 4.104 seconds
Inserted another chunk..., took 1.567 seconds
Inserted another chunk..., took 1.613 seconds
Inserted another chunk..., took 1.662 seconds
Inserted another chunk..., took 1.588 seconds
Inserted another chunk..., took 1.605 seconds
Inserted another chunk..., took 4.430 seconds
Inserted another chunk..., took 1.998 seconds
Inserted another chunk..., took 1.928 seconds
Inserted another chunk..., took 1.870 seconds
Inserted another chunk..., took 1.809 seconds
Inserted another chunk..., took 1.809 seconds
Inserted another chunk..., took 4.529 seconds
Inserted another chunk..., took 1.818 seconds
Inserted another chunk..., took 1.801 seconds
Inserted another chunk..., took 1.869 seconds
Inserted another chunk..., took 2.624 seconds
Inserted another chunk..., took 2.413 seconds
Inserted another chunk..., took 4.550 seconds
Inserted another chunk..., took 1.839 seconds
Inserted another chunk..., took 1.794 seconds
Inserted another chunk..., took 1.816 seconds
Inserted another chunk..., took 1.835 seconds
Inserted another chunk..., took 1.801 seconds
Inserted another chunk..., took 4.434 seconds
Inserted another chunk..., took 1.730 seconds
Inserted another chunk..., took 1.783 seconds
Inserted another chunk..., took 1.744 seconds
Inserted another chunk..., took 1.767 seconds
Inserted another chunk..., took 1.758 seconds
Inserted another chunk..., took 4.600 seconds
Inserted another chunk..., took 1.777 seconds
Inserted another chunk..., took 1.830 seconds
Inserted another chunk..., took 1.777 seconds
Inserted another chunk..., took 1.773 seconds
Inserted another chunk..., took 1.815 seconds
Inserted another chunk..., took 4.529 seconds
Inserted another chunk..., took 1.793 seconds
Inserted another chunk..., took 1.791 seconds
Inserted another chunk..., took 1.769 seconds
Inserted another chunk..., took 1.764 seconds
Inserted another chunk..., took 1.723 seconds
Inserted another chunk..., took 8.583 seconds
Inserted another chunk..., took 1.770 seconds
Inserted another chunk..., took 1.718 seconds
Inserted another chunk..., took 1.726 seconds
Inserted another chunk..., took 1.754 seconds
Inserted another chunk..., took 1.752 seconds
Inserted another chunk..., took 1.735 seconds
Inserted another chunk..., took 3.684 seconds
Inserted another chunk..., took 1.842 seconds
Inserted another chunk..., took 1.810 seconds
Inserted another chunk..., took 2.026 seconds
Inserted another chunk..., took 1.852 seconds
Inserted another chunk..., took 1.902 seconds
Inserted another chunk..., took 3.933 seconds
Inserted another chunk..., took 1.759 seconds
Inserted another chunk..., took 1.829 seconds
Inserted another chunk..., took 1.751 seconds
Inserted another chunk..., took 1.799 seconds
Inserted another chunk..., took 1.817 seconds
Inserted another chunk..., took 3.927 seconds
Inserted another chunk..., took 1.736 seconds
Inserted another chunk..., took 1.844 seconds
Inserted another chunk..., took 1.842 seconds
Inserted another chunk..., took 1.717 seconds
Inserted another chunk..., took 1.932 seconds
Inserted another chunk..., took 4.935 seconds
Inserted another chunk..., took 3.282 seconds
Inserted another chunk..., took 2.841 seconds
Inserted another chunk..., took 2.820 seconds
Inserted another chunk..., took 2.848 seconds
Inserted another chunk..., took 2.675 seconds
Inserted another chunk..., took 6.258 seconds
Inserted another chunk..., took 1.579 seconds
Inserted another chunk..., took 1.512 seconds
Inserted another chunk..., took 1.510 seconds
Inserted another chunk..., took 1.539 seconds
Inserted another chunk..., took 1.492 seconds

StopIteration:

### Populate a 2nd table

In [1]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2023-03-22 17:20:50--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 54.231.201.160, 52.216.177.197, 52.217.196.168, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|54.231.201.160|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12,03K  --.-KB/s    in 0,001s

2023-03-22 17:20:51 (21,6 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [26]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [27]:
df_zones.head(3)

   LocationID Borough                     Zone service_zone
0           1     EWR           Newark Airport          EWR
1           2  Queens              Jamaica Bay    Boro Zone
2           3   Bronx  Allerton/Pelham Gardens    Boro Zone

In [28]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265